.site-header
    border-bottom: 1px solid $grey-colour
    padding: 2em 0

    nav
        +outer-container($max-width-small)

        @media screen and (min-width: $max-width-semi-small)
            +outer-container($max-width-semi-small)

        @media screen and (min-width: $max-width-medium)
            +outer-container($max-width-medium)

        @media screen and (min-width: $max-width-large)
            +outer-container($max-width-large)

        h1
            font-size: 1.2em
            text-align: center
            letter-spacing: 0.10em
            margin-top: 0

            @media screen and (min-width: $max-width-semi-small)
                +span-columns(6)
                font-size: 1.5em
                text-align: left

        ul
            +span-columns(6)
            text-align: right
            font-family: $sans-font-family
            letter-spacing: 0.05em
            text-transform: uppercase
            list-style: none
            line-height: 2.55em
            margin-top: 0

            li
                display: inline-block
                padding: 0 2em
                margin-top: 0

            a
                text-decoration: none
                color: $text-colour
                transition: color ease 0.15s
                margin-top: 0

                &:hover
                    color: $brand-colour
