---
---
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

* + * {
  margin-top: 1.7em; }

body {
  font-family: "Crimson", "Times New Roman", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 0; }

.page-content {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px; }

.site-header {
  border-bottom: 1px solid #eee;
  padding: 2em 0; }
  .site-header nav {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .site-header nav::after {
      clear: both;
      content: "";
      display: table; }
    .site-header nav h1 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      font-size: 1.5em;
      letter-spacing: 0.10em;
      margin-top: 0; }
      .site-header nav h1:last-child {
        margin-right: 0; }
    .site-header nav ul {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      text-align: right;
      font-family: "Lato", sans-serif;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      list-style: none;
      line-height: 2.55em;
      margin-top: 0; }
      .site-header nav ul:last-child {
        margin-right: 0; }
      .site-header nav ul li {
        display: inline-block;
        padding: 0 2em;
        margin-top: 0; }
      .site-header nav ul a {
        text-decoration: none;
        color: #000;
        transition: color ease 0.15s;
        margin-top: 0; }
        .site-header nav ul a:hover {
          color: #7a0000; }

article {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em; }
  article::after {
    clear: both;
    content: "";
    display: table; }
  article header {
    padding: 8em 0; }
    article header h2 {
      font-size: 1.6em;
      margin-top: 0;
      letter-spacing: 0.05em; }
    article header time {
      font-family: "Lato", sans-serif;
      font-size: 14px; }
  article .post {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-top: 0;
    line-height: 1.7em; }
    article .post:last-child {
      margin-right: 0; }
    article .post h3 {
      font-size: 1.2em;
      font-family: "Lato", sans-serif; }
    article .post p + p {
      margin-top: 0.5em;
      text-indent: 1.7em; }
    article .post a {
      color: #7a0000;
      text-decoration: none; }
      article .post a:hover {
        text-decoration: underline; }
    article .post ul, article .post .post ol {
      list-style-position: outside; }
    article .post ul ul, article .post .post ol ol {
      padding-left: 1.7em; }
    article .post li {
      margin-top: 0; }
    article .post img {
      max-width: 100%;
      text-indent: 0; }
    article .post blockquote {
      border-left: 3px solid #eee;
      padding-left: 1.7em;
      font-style: italic; }
      article .post blockquote p {
        text-indent: 0; }
    article .post code {
      font-family: "Fira Mono", monospace;
      border: 1px solid #eee;
      padding: 0.2em 0.3em;
      font-size: 0.7em; }
    article .post pre {
      border: 1px solid #eee;
      padding: 1em 1.5em; }
    article .post pre > code {
      border: none;
      padding: 0; }
  article .introduction {
    font-family: "Lato", sans-serif;
    font-size: 0.9em; }

.site-footer {
  border-top: 1px solid #eee;
  margin-top: 8em;
  padding: 4em 0;
  font-family: "Lato", sans-serif; }
  .site-footer .footer-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .site-footer .footer-content::after {
      clear: both;
      content: "";
      display: table; }
  .site-footer .copyright {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .site-footer .copyright:last-child {
      margin-right: 0; }
    .site-footer .copyright h2 {
      font-size: 1.2em; }
    .site-footer .copyright p {
      margin-top: 0; }
    .site-footer .copyright a {
      text-decoration: none;
      color: #7a0000; }
      .site-footer .copyright a:hover {
        text-decoration: underline; }
  .site-footer .social-media-list {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-top: 0; }
    .site-footer .social-media-list:last-child {
      margin-right: 0; }
    .site-footer .social-media-list ul {
      list-style: none; }
      .site-footer .social-media-list ul .icon > svg {
        max-width: 1em; }
      .site-footer .social-media-list ul li {
        margin-top: 0; }
      .site-footer .social-media-list ul a {
        text-decoration: none;
        color: #7a0000; }
  .site-footer .site-description {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-top: 0; }
    .site-footer .site-description:last-child {
      margin-right: 0; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #ffdddd; }
  .highlight .gd .x {
    color: #000;
    background-color: #ffaaaa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #aa0000; }
  .highlight .gh {
    color: #999999; }
  .highlight .gi {
    color: #000;
    background-color: #ddffdd; }
  .highlight .gi .x {
    color: #000;
    background-color: #aaffaa; }
  .highlight .go {
    color: #888888; }
  .highlight .gp {
    color: #555555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaaaaa; }
  .highlight .gt {
    color: #aa0000; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #009999; }
  .highlight .s {
    color: #dd1144; }
  .highlight .na {
    color: teal; }
  .highlight .nb {
    color: #0086b3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: teal; }
  .highlight .ni {
    color: purple; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555555; }
  .highlight .nt {
    color: navy; }
  .highlight .nv {
    color: teal; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mf {
    color: #009999; }
  .highlight .mh {
    color: #009999; }
  .highlight .mi {
    color: #009999; }
  .highlight .mo {
    color: #009999; }
  .highlight .sb {
    color: #dd1144; }
  .highlight .sc {
    color: #dd1144; }
  .highlight .sd {
    color: #dd1144; }
  .highlight .s2 {
    color: #dd1144; }
  .highlight .se {
    color: #dd1144; }
  .highlight .sh {
    color: #dd1144; }
  .highlight .si {
    color: #dd1144; }
  .highlight .sx {
    color: #dd1144; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #dd1144; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999999; }
  .highlight .vc {
    color: teal; }
  .highlight .vg {
    color: teal; }
  .highlight .vi {
    color: teal; }
  .highlight .il {
    color: #009999; }
